<mat-card class="register-card">

  <mat-card-content>
  <div class="branding-panel">

      <img
      [src]="'assets/images/lease-a-bike-logo.png'"
      alt="Logo">

      <h1>Bike Leasing Registration</h1>

      <p>
        Manage bikes, leases, notifications
        and users from a unified platform.
      </p>

    </div>

    <div class="form-panel">
    <form
      [formGroup]="registerForm"
      (ngSubmit)="register()">

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>

        <input
          matInput
          formControlName="email">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>

        <input
          matInput
          type="password"
          formControlName="password">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>

        <input
          matInput
          type="password"
          formControlName="confirmPassword">
      </mat-form-field>

      <mat-form-field appearance="outline">

        <mat-label>Role</mat-label>

        <mat-select formControlName="role">

          <mat-option value="USER">
            USER
          </mat-option>

          <mat-option value="ADMIN">
            ADMIN
          </mat-option>

        </mat-select>

      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit">

        Register

      </button>

    </form>
    </div>

  </mat-card-content>

  <div class="auth-links">
    Already have an account?
    <a routerLink="/">
      Login
    </a>
  </div>

</mat-card>